/taskmanager/build/
/taskmanager/dist/
/projekt/target/
projekt/src/main/resources/META-INF/persistence.xml
projekt/src/main/resources/META-INF/persistence.xml
projekt/.classpath
projekt/src/main/resources/hibernate.cfg.xml
